Alfa v2.1.3.json
[
    {
        "id": "072dfa66493904bb",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "Projecto de sensor de temperatura y de movimiento por Node MCU para domotica de casa Masqui",
        "env": []
    },
    {
        "id": "13b08bfeb632c52a",
        "type": "tab",
        "label": "Node-Red OPCUA Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "269813c2b8029cb5",
        "type": "tab",
        "label": "Prosys Server",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6d737813fc1388fc",
        "type": "tab",
        "label": "Prosys A&E",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "9de0b797.2888f",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#094777",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#094777",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#094777",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0e71be",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#094777",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Pi Server",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6c9747ae.558e58",
        "type": "ui_tab",
        "name": "Simulacion Servidor OPC UA Prosys",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "535b72c3.b2d50c",
        "type": "ui_group",
        "name": "Graficas de Simulacion",
        "tab": "6c9747ae.558e58",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a6463b49.678438",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:55380",
        "secpol": "Basic256Sha256",
        "secmode": "SignAndEncrypt",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "5e74200e.55d4e",
        "type": "ui_group",
        "name": "Control Arduino",
        "tab": "6e9b9ef9.94e89",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6e9b9ef9.94e89",
        "type": "ui_tab",
        "name": "Servidor OPC UA Node-Red",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7e10f4e5.f87c2c",
        "type": "modbus-client",
        "name": "Delta PLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "192.168.0.154",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true
    },
    {
        "id": "f9e73317c999a441",
        "type": "arduino-board",
        "device": "/dev/ttyACM0"
    },
    {
        "id": "b439aa6697087538",
        "type": "ui_group",
        "name": "Display Arduino",
        "tab": "6e9b9ef9.94e89",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c8ca0c4a21dcf973",
        "type": "ui_group",
        "name": "Control Node-Red",
        "tab": "6e9b9ef9.94e89",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fa560be65b703c6e",
        "type": "ui_group",
        "name": "Display Node-Red",
        "tab": "6e9b9ef9.94e89",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9884fc027ca07aef",
        "type": "ui_group",
        "name": "Escrituras de cliente",
        "tab": "6c9747ae.558e58",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e85091f3a431c41",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://10.0.0.64:53530/OPCUA/SimulationServer",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "f23c812b15c872a4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e0439369e1db6999",
        "type": "ui_tab",
        "name": "Masqui Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "64208b1592d8ffe1",
        "type": "ui_group",
        "name": "Sala",
        "tab": "e0439369e1db6999",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "499c8851170900f4",
        "type": "ui_group",
        "name": "Lecturas de Servidor",
        "tab": "6c9747ae.558e58",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25b55c2d3ba21fca",
        "type": "ui_spacer",
        "z": "269813c2b8029cb5",
        "name": "spacer",
        "group": "9884fc027ca07aef",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "302a2cec167d0c90",
        "type": "telegram bot",
        "botname": "Masqui Home",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": true
    },
    {
        "id": "ff1c814e2573505e",
        "type": "ui_link",
        "name": "Camara",
        "link": "http://10.0.0.66",
        "icon": "open_in_browser",
        "target": "iframe",
        "order": 2
    },
    {
        "id": "f51e5c5f35602297",
        "type": "ui_group",
        "name": "Estatus de sistema",
        "tab": "e0439369e1db6999",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70c4c8df099c4313",
        "type": "ui_spacer",
        "z": "072dfa66493904bb",
        "name": "spacer",
        "group": "f51e5c5f35602297",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "b83205a4a203900f",
        "type": "ui_group",
        "name": "Gráficas",
        "tab": "e0439369e1db6999",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "0ff41e89e7f23a90",
        "type": "mqtt in",
        "z": "072dfa66493904bb",
        "name": "Temperatura",
        "topic": "esp/dht/temperature",
        "qos": "1",
        "datatype": "auto",
        "broker": "f23c812b15c872a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "07e089f7b0f0f9e1"
            ]
        ]
    },
    {
        "id": "0fc759b2ca115bf0",
        "type": "mqtt in",
        "z": "072dfa66493904bb",
        "name": "Humedad",
        "topic": "esp/dht/humidity",
        "qos": "1",
        "datatype": "auto",
        "broker": "f23c812b15c872a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "d953c07712a98e7d"
            ]
        ]
    },
    {
        "id": "f52c5e0b45a67d1c",
        "type": "ui_gauge",
        "z": "072dfa66493904bb",
        "name": "Temperatura",
        "group": "64208b1592d8ffe1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "38",
        "className": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "52f769ad9f574abf",
        "type": "ui_gauge",
        "z": "072dfa66493904bb",
        "name": "Humedad",
        "group": "64208b1592d8ffe1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "20",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "65",
        "className": "",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "8fd1780bacb80a41",
        "type": "mqtt in",
        "z": "072dfa66493904bb",
        "name": "Movimiento",
        "topic": "esp/dht/motion",
        "qos": "1",
        "datatype": "auto",
        "broker": "f23c812b15c872a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "0d8de8b903e97d41"
            ]
        ]
    },
    {
        "id": "a1c852af100ad5ca",
        "type": "catch",
        "z": "072dfa66493904bb",
        "name": "Errores",
        "scope": null,
        "uncaught": true,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "be6e7c516f5d2156"
            ]
        ]
    },
    {
        "id": "ca8a25d7c00fcb2e",
        "type": "OpcUa-Client",
        "z": "072dfa66493904bb",
        "endpoint": "a6463b49.678438",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Escritura Cliente",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "ca6404c5c7b290e9"
            ]
        ]
    },
    {
        "id": "4fcc2f98dc0bd7c9",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Interpreta datos",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg6 = {};\nmsg7 = {};\nmsg8 = {};\n\nmsg1.topic = \"ns=1;s=MQTT.T1;datatype=Double\";\n//msg.payload=msg.payload[0];\nmsg2.topic = \"ns=1;s=MQTT.H1;datatype=Int16\";\n//msg.payload=msg.payload[1];\nmsg3.topic = \"ns=1;s=MQTT.M1;datatype=Boolean\";\n//msg.payload=msg.payload[2];\nmsg4.topic = \"ns=1;s=Jean.P1;datatype=Boolean\";\nmsg5.topic = \"ns=1;s=Nano.P2;datatype=Boolean\";\nmsg6.topic = \"ns=1;s=Yanet.P3;datatype=Boolean\";\nmsg7.topic = \"ns=1;s=Luis.P4;datatype=Boolean\";\nmsg8.topic = \"ns=1;s=Cam.P5;datatype=Boolean\";\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 420,
        "wires": [
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ],
            [
                "a1668fb7c542f359"
            ]
        ]
    },
    {
        "id": "346c652cb451ae35",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Separa",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg6 = {};\nmsg7 = {};\nmsg8 = {};\n\nif(msg.topic==\"ns=1;s=MQTT.T1\")\n{\n    msg1.payload=msg.payload;\n    msg1.topic=\"Temperatura;\"\n    return [msg1, null, null, null, null, null, null, null];\n    \n}\n\nif(msg.topic==\"ns=1;s=MQTT.H1\")\n{\n    msg2.payload=msg.payload;\n    msg2.topic=\"Humedad\"\n    return [null, msg2, null, null, null, null, null, null];\n\n}\n\nif(msg.topic==\"ns=1;s=MQTT.M1\")\n{\n    msg3.payload=msg.payload;\n    msg3.topic=\"Movimiento\"\n    return [null, null, msg3, null, null, null, null, null];\n\n}\n\nif(msg.topic==\"ns=1;s=Jean.P1\")\n{\n    msg4.payload=msg.payload;\n    msg4.topic=\"Jean\"\n    return [null, null, null, msg4, null, null, null, null];\n\n}\n\nif(msg.topic==\"ns=1;s=Nano.P2\")\n{\n    msg5.payload=msg.payload;\n    msg5.topic=\"Nano\"\n    return [null, null, null, null, msg5, null, null, null];\n\n}\n\nif(msg.topic==\"ns=1;s=Yanet.P3\")\n{\n    msg6.payload=msg.payload;\n    msg6.topic=\"Yanet\"\n    return [null, null, null, null, null, msg6, null, null];\n\n}\n\nif(msg.topic==\"ns=1;s=Luis.P4\")\n{\n    msg7.payload=msg.payload;\n    msg7.topic=\"Luis\"\n    return [null, null, null, null, null, null, msg7, null];\n\n}\n\nif(msg.topic==\"ns=1;s=Cam.P5\")\n{\n    msg8.payload=msg.payload;\n    msg8.topic=\"Camara Activa\"\n    return [null, null, null, null, null, null, null, msg8];\n\n}\n\n\n//return [msg1, msg1, msg3]",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "f52c5e0b45a67d1c"
            ],
            [
                "52f769ad9f574abf"
            ],
            [
                "94d7cf2559ab6bce",
                "84a9a51cda38b2f8",
                "6f7c0fabd6e4c713"
            ],
            [
                "da6bdc47bc58e88a",
                "fc458efa78f88eac"
            ],
            [
                "da6bdc47bc58e88a",
                "d53c610c5cdc2306"
            ],
            [
                "da6bdc47bc58e88a",
                "3766645c6c9f3964"
            ],
            [
                "da6bdc47bc58e88a",
                "73cd1cc3570a61fe"
            ],
            [
                "9ef32087fbd2d2f1",
                "da6bdc47bc58e88a"
            ]
        ]
    },
    {
        "id": "48823a4eef724a30",
        "type": "inject",
        "z": "072dfa66493904bb",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "4fcc2f98dc0bd7c9"
            ]
        ]
    },
    {
        "id": "07e089f7b0f0f9e1",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Al cliente T",
        "func": "msg.topic = \"ns=1;s=MQTT.T1;datatype=Double\";\n//msg.payload=msg.payload[0];\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "ca8a25d7c00fcb2e"
            ]
        ]
    },
    {
        "id": "d953c07712a98e7d",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Al cliente H",
        "func": "msg.topic = \"ns=1;s=MQTT.H1;datatype=Int16\";\n//msg.payload=msg.payload[0];\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ca8a25d7c00fcb2e"
            ]
        ]
    },
    {
        "id": "0d8de8b903e97d41",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Al cliente M",
        "func": "msg.topic = \"ns=1;s=MQTT.M1;datatype=Boolean\";\n//msg.payload=msg.payload[0];\nif (msg.topic == \"ns=1;s=MQTT.M1;datatype=Boolean\")\n{\n    if (msg.payload === \"0\")\n   { \n     msg.payload = false;\n    }\n    if (msg.payload === \"1\")\n   { \n     msg.payload = true;\n    }\n}\nreturn [msg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "ca8a25d7c00fcb2e"
            ]
        ]
    },
    {
        "id": "a1668fb7c542f359",
        "type": "OpcUa-Client",
        "z": "072dfa66493904bb",
        "endpoint": "a6463b49.678438",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Lectura Cliente",
        "x": 500,
        "y": 420,
        "wires": [
            [
                "346c652cb451ae35"
            ]
        ]
    },
    {
        "id": "6550bee0c6a01fa8",
        "type": "ui_toast",
        "z": "072dfa66493904bb",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "Notification",
        "topic": "Alerta: Movimiento detectado",
        "name": "Notificación",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "82d1aa0a0fc8a40d",
        "type": "file",
        "z": "072dfa66493904bb",
        "name": "Base de Datos",
        "filename": "BD_Movimiento.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1660,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "305da3c505c3ffd3",
        "type": "comment",
        "z": "072dfa66493904bb",
        "name": "Notas",
        "info": "Incorporar el uso de otro modulo mcu con el uso de un sensor ultrasonico y el control de un servidor web por medio de internet. \nVerificar la apertura de los puertos para acceder al servidor desde internet\n",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "4856145dcbd1f7c1",
        "type": "status",
        "z": "072dfa66493904bb",
        "name": "Estatus",
        "scope": [
            "ca8a25d7c00fcb2e"
        ],
        "x": 90,
        "y": 80,
        "wires": [
            [
                "be6e7c516f5d2156",
                "30b5e5f7ce5f8016"
            ]
        ]
    },
    {
        "id": "be6e7c516f5d2156",
        "type": "debug",
        "z": "072dfa66493904bb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "0b6e1551a5ab1202",
        "type": "moment",
        "z": "072dfa66493904bb",
        "name": "Fecha/Hora Formato",
        "topic": "fechador",
        "input": "",
        "inputType": "date",
        "inTz": "America/Cancun",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "add",
        "format": "DD.MM.YYYY HH:mm",
        "locale": "es-MX",
        "output": "timestamp",
        "outputType": "msg",
        "outTz": "America/Cancun",
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "9db9c8dc51c299d4"
            ]
        ]
    },
    {
        "id": "5527df6f8d5d82d4",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Notificaciones",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1580,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9db9c8dc51c299d4",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg1 = {}\nmsg.topic=\"ns=1;s=MQTT.M1;datatype=Boolean\";\nif (msg.topic === \"ns=1;s=MQTT.M1;datatype=Boolean\")\n{\n    msg1.payload = {chatId:-695070488, type: \"message\", \n    content: \"He detectado movimiento en la sala: \" + msg.timestamp};\n    return [msg1];\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 560,
        "wires": [
            [
                "b6f2edc91bbc24a2",
                "82d1aa0a0fc8a40d",
                "7aa1f02efeff67ec"
            ]
        ]
    },
    {
        "id": "f17703a9591a0d60",
        "type": "telegram command",
        "z": "072dfa66493904bb",
        "name": "Root",
        "command": "/sudo",
        "description": "Envía comandos como usuario root",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "302a2cec167d0c90",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "bab5936286db9b1c"
            ],
            []
        ]
    },
    {
        "id": "536a9ac692d309df",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Manda status",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 480,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bab5936286db9b1c",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg1 = {}\nmsg2 = {}\n//msg3 = {}\nif (msg.payload.content === \" arm\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Armando el sistema...\"};\n    msg2.payload = \"open\";\n    msg2.topic = \"control\";\n    return [msg1, msg2];\n}\nif (msg.payload.content === \" disarm\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Desarmando el sistema...\"};\n    msg2.payload = \"close\";\n    msg2.topic = \"control\";\n    return [msg1, msg2];\n} \nif (msg.payload.content === \" status\")\n{\n    msg.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Comando recibido: \"};\n    return msg\n} \nif (msg.payload.content === \" logs\")\n{\n    msg.payload = {chatId: msg.payload.chatId, type: \"document\", \n    content: \"/home/pi/BD_Movimiento.csv\"};\n    return msg\n} \nif (msg.payload.content === \" vpn\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"document\", \n    content: \"/home/pi/configs/guest.conf\"};\n    msg2.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Archivo de configuración para VPN de invitados generado...\"};\n    return [msg1, msg2];\n} \nif (msg.payload.content === \" vpn rowan\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"document\", \n    content: \"/home/pi/configs/rowan.conf\"};\n    msg2.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Archivo de configuración de VPN para trabajo en equipos Rowan generado...\"};\n    return [msg1, msg2];\n}\nif (msg.payload.content === \" vpn Mas4oll\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"document\", \n    content: \"/home/pi/configs/Mas4oll.conf\"};\n    msg2.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Archivo de configuración para VPN personal generado...\"};\n    return [msg1, msg2];\n}\n\nelse\n{\n    msg.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Mi inteligencia es limitada :(\"};\n    return msg\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 580,
        "wires": [
            [
                "536a9ac692d309df"
            ],
            [
                "41a108ca57d3284d",
                "536a9ac692d309df"
            ]
        ]
    },
    {
        "id": "a6b0247ca8bd1dd0",
        "type": "ping",
        "z": "072dfa66493904bb",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "Jean",
        "host": "10.0.0.70",
        "timer": "900",
        "inputs": 0,
        "x": 70,
        "y": 960,
        "wires": [
            [
                "21a379efb80b6e5b"
            ]
        ]
    },
    {
        "id": "21a379efb80b6e5b",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "jean = {};\njean2 = {};\n\nif (msg.payload === false)\n{\n    jean.payload = {chatId: -695070488, type: \"message\", \n    content: \"\"};\n    jean2.payload = false;\n    jean2.topic = \"ns=1;s=Jean.P1;datatype=Boolean\";\n    return [jean, jean2];\n}\n\nelse \n{\n    jean.payload = {chatId: -695070488, type: \"message\", \n    content: \"Bienvenido a casa Jean\"};        \n    jean2.payload = true;\n    jean2.topic = \"ns=1;s=Jean.P1;datatype=Boolean\";\n    return [jean, jean2];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 960,
        "wires": [
            [
                "0beb9f54ab3ffcb1"
            ],
            [
                "82ece3ceaee19dd2"
            ]
        ]
    },
    {
        "id": "ac76e90c69ae774f",
        "type": "ping",
        "z": "072dfa66493904bb",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "Emiliano",
        "host": "10.0.0.71",
        "timer": "300",
        "inputs": 0,
        "x": 80,
        "y": 1020,
        "wires": [
            [
                "ad8e6864dd5b8d26"
            ]
        ]
    },
    {
        "id": "ad8e6864dd5b8d26",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "nano = {};\nnano2 = {};\n\nif (msg.payload === false)\n{\n    nano.payload = {chatId: -695070488, type: \"message\", \n    content: \"\"};\n    nano2.payload = false;\n    nano2.topic = \"ns=1;s=Nano.P2;datatype=Boolean\";\n    return [nano, nano2];\n} \n\nelse\n{\n    nano.payload = {chatId: -695070488, type: \"message\", \n    content: \"Bienvenido a casa Emiliano\"};\n    nano2.payload = true;\n    nano2.topic = \"ns=1;s=Nano.P2;datatype=Boolean\";\n    return [nano, nano2];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1020,
        "wires": [
            [
                "4f7a2e25a47e6f14"
            ],
            [
                "82ece3ceaee19dd2"
            ]
        ]
    },
    {
        "id": "0239e237c7d27790",
        "type": "ping",
        "z": "072dfa66493904bb",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "Yanet",
        "host": "10.0.0.72",
        "timer": "300",
        "inputs": 0,
        "x": 70,
        "y": 1080,
        "wires": [
            [
                "aada41afaf89add4"
            ]
        ]
    },
    {
        "id": "aada41afaf89add4",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "yanet = {};\nyanet2 = {};\n\nif (msg.payload === false)\n{\n    yanet.payload = {chatId: -695070488, type: \"message\", \n    content: \"\"};\n    yanet2.payload = false;\n    yanet2.topic = \"ns=1;s=Yanet.P3;datatype=Boolean\";\n    return [yanet, yanet2];\n} \n\nelse\n{\n    yanet.payload = {chatId: -695070488, type: \"message\", \n    content: \"Bienvenida a casa Yanet\"};\n    yanet2.payload = true;\n    yanet2.topic = \"ns=1;s=Yanet.P3;datatype=Boolean\";\n    return [yanet, yanet2];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1080,
        "wires": [
            [
                "38defe59672ec844"
            ],
            [
                "82ece3ceaee19dd2"
            ]
        ]
    },
    {
        "id": "c80f5a1158733123",
        "type": "ping",
        "z": "072dfa66493904bb",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "Luis",
        "host": "10.0.0.73",
        "timer": "300",
        "inputs": 0,
        "x": 70,
        "y": 1140,
        "wires": [
            [
                "dfe21a46ddf368ee"
            ]
        ]
    },
    {
        "id": "dfe21a46ddf368ee",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "luis = {};\nluis2 = {};\n\nif (msg.payload === false)\n{\n    luis.payload = {chatId: -695070488, type: \"message\", \n    content: \"\"};\n    luis2.payload = false;\n    luis2.topic = \"ns=1;s=Luis.P4;datatype=Boolean\";\n    return [luis, luis2];\n} \n\nelse\n{\n    luis.payload = {chatId: -695070488, type: \"message\", \n    content: \"Bienvenido a casa Luis\"};\n    luis2.payload = true;\n    luis2.topic = \"ns=1;s=Luis.P4;datatype=Boolean\";\n    return [luis, luis2];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1140,
        "wires": [
            [
                "5b5a576152a581cb"
            ],
            [
                "82ece3ceaee19dd2"
            ]
        ]
    },
    {
        "id": "59acb539233e0d49",
        "type": "ping",
        "z": "072dfa66493904bb",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "Cam",
        "host": "10.0.0.66",
        "timer": "30",
        "inputs": 0,
        "x": 70,
        "y": 1200,
        "wires": [
            [
                "cadf110219b3437a"
            ]
        ]
    },
    {
        "id": "cadf110219b3437a",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "cam = {};\ncam2 = {};\n\nif (msg.payload === false)\n{\n    cam.payload = {chatId: -695070488, type: \"message\", \n    content: \"Alerta: Desconexión de cámara\"};\n    cam2.payload = false;\n    cam2.topic = \"ns=1;s=Cam.P5;datatype=Boolean\";\n    return [cam, cam2];\n}\n\nelse\n{\n    cam.payload = {chatId: -695070488, type: \"message\", \n    content: null};\n    cam2.payload = true;\n    cam2.topic = \"ns=1;s=Cam.P5;datatype=Boolean\";\n    return [cam, cam2];\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 1200,
        "wires": [
            [
                "ad57b42db053aa05"
            ],
            [
                "82ece3ceaee19dd2"
            ]
        ]
    },
    {
        "id": "482793f559e3f9d7",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Alerta",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 610,
        "y": 1180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "767c083213b1c6ae",
        "type": "telegram command",
        "z": "072dfa66493904bb",
        "name": "Luminaria",
        "command": "/lights",
        "description": "Realiza el control de luces de la casa",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "302a2cec167d0c90",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "8ae5e6d1dba4b19f"
            ],
            []
        ]
    },
    {
        "id": "3849836aacdb3ea5",
        "type": "ui_led",
        "z": "072dfa66493904bb",
        "order": 1,
        "group": "f51e5c5f35602297",
        "width": 0,
        "height": 0,
        "label": "Estado del sistema",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Status",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ae5e6d1dba4b19f",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg1 = {}\n//msg2 = {}\n//msg3 = {}\nif (msg.payload.content === \" on\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Encendiendo luces...\"};\n    return [msg1];\n} \nif (msg.payload.content === \" off\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Apagando luces...\"};\n    return [msg1];\n} \nelse\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Mi inteligencia es limitada :(\"};\n    return [msg1];\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 700,
        "wires": [
            [
                "358ed47c288285f3"
            ]
        ]
    },
    {
        "id": "358ed47c288285f3",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Control luces",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 470,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ab18cc5fa2332c0a",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg1 = {}\n//msg2 = {}\n//msg3 = {}\n\nif (msg.payload.content === \"Hola\" || \nmsg.payload.content === \"Qué onda\" || \nmsg.payload.content === \"Hey\" ||\nmsg.payload.content === \"Hi\" ||\nmsg.payload.content === \"Buenos Días\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Hello There :)\"};\n    return [msg1];\n} \n\nif (msg.payload.content === \"Bye\" ||\nmsg.payload.content === \"adiós\" ||\nmsg.payload.content === \"Adiós\" ||\nmsg.payload.content === \"Nos vemos\" ||\nmsg.payload.content === \"Ya me voy\" ||\nmsg.payload.content === \"Hasta luego\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"May the Force be with you\"};\n    return [msg1];\n} \n\nif (msg.payload.content === \"Qué puedes hacer?\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Aprendo lo que puedo, soy una IA en desarrollo :)\"};\n    return [msg1];  \n}\n\nif (msg.payload.content === \"Hello there\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"General Kenobi! >:(\"};\n    return [msg1];  \n}\n\nif (msg.payload.content === \"Gracias\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"De nada, maestro\"};\n    return [msg1];  \n}\n\n/*\nelse\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Mi inteligencia es limitada :(\"};\n    return [msg1];\n}\n*/\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "cc2a38ac32675e28"
            ]
        ]
    },
    {
        "id": "cc2a38ac32675e28",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Habla",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 450,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "30b5e5f7ce5f8016",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Estatus",
        "func": "msg1 = {};\nmsg1.topic = \"status\";\nmsg1.payload = false;\n\nif (msg.payload === \"Good (0x00000)\" \n&& msg.topic === \"ns=1;s=MQTT.T1;datatype=Double\"\n|| msg.topic === \"ns=1;s=MQTT.H1;datatype=Int16\"\n|| msg.topic === \"ns=1;s=MQTT.M1;datatype=Boolean\")\n{\n    msg1.payload = true;\n    return [msg1];\n}\n\nreturn [msg1];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 100,
        "y": 120,
        "wires": [
            [
                "3849836aacdb3ea5"
            ]
        ]
    },
    {
        "id": "aca4e53478432906",
        "type": "telegram command",
        "z": "072dfa66493904bb",
        "name": "Cámaras",
        "command": "/cam",
        "description": "Manda a llamar las cámaras de seguridad",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "302a2cec167d0c90",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 100,
        "y": 760,
        "wires": [
            [
                "af1a4acd587a0dbd"
            ],
            []
        ]
    },
    {
        "id": "af1a4acd587a0dbd",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg1 = {}\n//msg2 = {}\n//msg3 = {}\nif (msg.payload.content === \" show\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Mostrando captura de la cámara...\"};\n    return [msg1];\n} \nif (msg.payload.content === \" save\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Guardando video de cámara\"};\n    return [msg1];\n} \n\nelse\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Mi inteligencia es limitada :(\"};\n    return [msg1];\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 760,
        "wires": [
            [
                "6374e2f80c81b388"
            ]
        ]
    },
    {
        "id": "6374e2f80c81b388",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Control cámara",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 480,
        "y": 760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8b8e21c86fd24d31",
        "type": "ui_chart",
        "z": "072dfa66493904bb",
        "name": "Grafica",
        "group": "b83205a4a203900f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Historial de movimiento",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f5a6f9efca0b5e57",
        "type": "file in",
        "z": "072dfa66493904bb",
        "d": true,
        "name": "Lectura logs",
        "filename": "\"/home/pi/BD_Movimiento.csv\"",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 1210,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "60a7880005ae690e",
        "type": "telegram command",
        "z": "072dfa66493904bb",
        "name": "Control IoT",
        "command": "/control",
        "description": "Toma el control de los dispositivos IoT de la casa",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "302a2cec167d0c90",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 100,
        "y": 640,
        "wires": [
            [
                "4ba033cde81ec89b"
            ],
            []
        ]
    },
    {
        "id": "4ba033cde81ec89b",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg1 = {}\n//msg2 = {}\n//msg3 = {}\nif (msg.payload.content === \" fan on\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Ventilador encendido\"};\n    return [msg1];\n} \nif (msg.payload.content === \" fan off\")\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Ventilador apagado\"};\n    return [msg1];\n} \n\nelse\n{\n    msg1.payload = {chatId: msg.payload.chatId, type: \"message\", \n    content: \"Mi inteligencia es limitada :(\"};\n    return [msg1];\n} ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 640,
        "wires": [
            [
                "821e553ff06be0b1"
            ]
        ]
    },
    {
        "id": "821e553ff06be0b1",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Control IoT",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 470,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b6f2edc91bbc24a2",
        "type": "gate",
        "z": "072dfa66493904bb",
        "name": "Gate",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": true,
        "storeName": "memory",
        "x": 1390,
        "y": 600,
        "wires": [
            [
                "5527df6f8d5d82d4"
            ]
        ]
    },
    {
        "id": "41a108ca57d3284d",
        "type": "ui_switch",
        "z": "072dfa66493904bb",
        "name": "",
        "label": "Notificaciones Telegram",
        "tooltip": "",
        "group": "f51e5c5f35602297",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "control",
        "topicType": "str",
        "style": "",
        "onvalue": "open",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "close",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1010,
        "y": 600,
        "wires": [
            [
                "b6f2edc91bbc24a2"
            ]
        ]
    },
    {
        "id": "7aa1f02efeff67ec",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato Telegram",
        "func": "msg.payload=[{\n    \"series\": [\"Temperatura\", \"Humedad\", \"Movimiento\"],\n    \"data\": [ [msg1], [msg2], [msg3] ],\n    \"labels\": [ \"Lunes\", \"Martes\", \"Miercoles\", \"Jueves\", \n    \"Viernes\", \"Sábado\", \"Domingo\"]\n}];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 500,
        "wires": [
            [
                "8b8e21c86fd24d31"
            ]
        ]
    },
    {
        "id": "c33ff9d419894b9e",
        "type": "telegram receiver",
        "z": "072dfa66493904bb",
        "name": "Chat",
        "bot": "302a2cec167d0c90",
        "saveDataDir": "",
        "filterCommands": true,
        "x": 90,
        "y": 520,
        "wires": [
            [
                "ab18cc5fa2332c0a"
            ],
            []
        ]
    },
    {
        "id": "934eff2c2b90203b",
        "type": "ui_date_picker",
        "z": "072dfa66493904bb",
        "name": "update",
        "label": "Última Actualización",
        "group": "f51e5c5f35602297",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "update",
        "topicType": "msg",
        "className": "",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "b9e08fb46670da86"
            ]
        ]
    },
    {
        "id": "94d7cf2559ab6bce",
        "type": "ui_led",
        "z": "072dfa66493904bb",
        "order": 1,
        "group": "64208b1592d8ffe1",
        "width": 0,
        "height": 0,
        "label": "Movimiento",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ffa500",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Sensor PIR",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "aa0265d7a8b2d5bc",
        "type": "ui_chart",
        "z": "072dfa66493904bb",
        "name": "Presencia",
        "group": "b83205a4a203900f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historial de presencia",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sin datos",
        "dot": true,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b9e08fb46670da86",
        "type": "function",
        "z": "072dfa66493904bb",
        "name": "Formato BD",
        "func": "msg1 = {};\nmsg.topic = \"update\";\n\nif (msg.topic === \"update\")\n{\n    msg1.payload = {chatId:-695070488, type: \"message\", \n    content: \"Fecha de última actualización modificada: \" \n    + msg.payload.date()};\n    return [msg1]; \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            [
                "3123959351920fa3",
                "97224d2971b52e78"
            ]
        ]
    },
    {
        "id": "3123959351920fa3",
        "type": "file",
        "z": "072dfa66493904bb",
        "name": "BD update",
        "filename": "update.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "82ece3ceaee19dd2",
        "type": "link out",
        "z": "072dfa66493904bb",
        "name": "",
        "mode": "link",
        "links": [
            "e8a9124ed965b0ce"
        ],
        "x": 445,
        "y": 880,
        "wires": []
    },
    {
        "id": "e8a9124ed965b0ce",
        "type": "link in",
        "z": "072dfa66493904bb",
        "name": "",
        "links": [
            "82ece3ceaee19dd2"
        ],
        "x": 435,
        "y": 320,
        "wires": [
            [
                "ca8a25d7c00fcb2e"
            ]
        ]
    },
    {
        "id": "af9e66f2c630a3d0",
        "type": "file",
        "z": "072dfa66493904bb",
        "name": "BD Presencia",
        "filename": "presencia.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1080,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ca6404c5c7b290e9",
        "type": "link out",
        "z": "072dfa66493904bb",
        "name": "",
        "mode": "link",
        "links": [
            "7d44a01742a425dd"
        ],
        "x": 695,
        "y": 260,
        "wires": []
    },
    {
        "id": "7d44a01742a425dd",
        "type": "link in",
        "z": "072dfa66493904bb",
        "name": "",
        "links": [
            "ca6404c5c7b290e9"
        ],
        "x": 85,
        "y": 160,
        "wires": [
            [
                "30b5e5f7ce5f8016"
            ]
        ]
    },
    {
        "id": "da6bdc47bc58e88a",
        "type": "link out",
        "z": "072dfa66493904bb",
        "name": "",
        "mode": "link",
        "links": [
            "2847f76e10702cd6"
        ],
        "x": 845,
        "y": 340,
        "wires": []
    },
    {
        "id": "2847f76e10702cd6",
        "type": "link in",
        "z": "072dfa66493904bb",
        "name": "",
        "links": [
            "da6bdc47bc58e88a"
        ],
        "x": 935,
        "y": 340,
        "wires": [
            [
                "af9e66f2c630a3d0",
                "aa0265d7a8b2d5bc"
            ]
        ]
    },
    {
        "id": "9ef32087fbd2d2f1",
        "type": "ui_text",
        "z": "072dfa66493904bb",
        "group": "f51e5c5f35602297",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Camara",
        "label": "Camara",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 740,
        "wires": []
    },
    {
        "id": "fc458efa78f88eac",
        "type": "ui_text",
        "z": "072dfa66493904bb",
        "group": "f51e5c5f35602297",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Jean",
        "label": "Jean",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "73cd1cc3570a61fe",
        "type": "ui_text",
        "z": "072dfa66493904bb",
        "group": "f51e5c5f35602297",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Luis",
        "label": "Luis",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "d53c610c5cdc2306",
        "type": "ui_text",
        "z": "072dfa66493904bb",
        "group": "f51e5c5f35602297",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Nano",
        "label": "Nano",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "3766645c6c9f3964",
        "type": "ui_text",
        "z": "072dfa66493904bb",
        "group": "f51e5c5f35602297",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Yanet",
        "label": "Yanet",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 660,
        "wires": []
    },
    {
        "id": "bb5def74ecea71ea",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Bienvenida",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 630,
        "y": 940,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ad57b42db053aa05",
        "type": "rbe",
        "z": "072dfa66493904bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "482793f559e3f9d7"
            ]
        ]
    },
    {
        "id": "0beb9f54ab3ffcb1",
        "type": "rbe",
        "z": "072dfa66493904bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 940,
        "wires": [
            [
                "bb5def74ecea71ea"
            ]
        ]
    },
    {
        "id": "4f7a2e25a47e6f14",
        "type": "rbe",
        "z": "072dfa66493904bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 1000,
        "wires": [
            [
                "9eadd786fa3ad79f"
            ]
        ]
    },
    {
        "id": "38defe59672ec844",
        "type": "rbe",
        "z": "072dfa66493904bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 1060,
        "wires": [
            [
                "0abf133302b23276"
            ]
        ]
    },
    {
        "id": "5b5a576152a581cb",
        "type": "rbe",
        "z": "072dfa66493904bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "15861e29ee3e0867"
            ]
        ]
    },
    {
        "id": "9eadd786fa3ad79f",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Bienvenida",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 630,
        "y": 1000,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0abf133302b23276",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Bienvenida",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 630,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "15861e29ee3e0867",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Bienvenida",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 630,
        "y": 1120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "97224d2971b52e78",
        "type": "telegram sender",
        "z": "072dfa66493904bb",
        "name": "Actualizaciones",
        "bot": "302a2cec167d0c90",
        "haserroroutput": true,
        "outputs": 2,
        "x": 640,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "84a9a51cda38b2f8",
        "type": "debug",
        "z": "072dfa66493904bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f7c0fabd6e4c713",
        "type": "rbe",
        "z": "072dfa66493904bb",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 890,
        "y": 500,
        "wires": [
            [
                "0b6e1551a5ab1202",
                "6550bee0c6a01fa8"
            ]
        ]
    },
    {
        "id": "dc9017804366b82d",
        "type": "OpcUa-Client",
        "z": "13b08bfeb632c52a",
        "endpoint": "a6463b49.678438",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Lectura Cliente",
        "x": 460,
        "y": 180,
        "wires": [
            [
                "02184fc9335fd5d1"
            ]
        ]
    },
    {
        "id": "ac6feb4b631bbdd1",
        "type": "OpcUa-Client",
        "z": "13b08bfeb632c52a",
        "endpoint": "a6463b49.678438",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Escritura Cliente",
        "x": 360,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c52d56d247613f91",
        "type": "modbus-read",
        "z": "13b08bfeb632c52a",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4096",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e10f4e5.f87c2c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "2c36dc3b9085c99d",
                "ee02d026108b56c6"
            ],
            []
        ]
    },
    {
        "id": "410f761d248a748f",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "Variables de Node-Red",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "bba075a023c8a701",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "Variables de PLC Delta",
        "info": "",
        "x": 140,
        "y": 1620,
        "wires": []
    },
    {
        "id": "2c36dc3b9085c99d",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 1720,
        "wires": []
    },
    {
        "id": "ee02d026108b56c6",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "To Client D0",
        "func": "msg.topic=\"ns=1;s=Delta.D0;datatype=Int16\";\nmsg.payload=msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1760,
        "wires": [
            [
                "43fe9c1d1c588419"
            ]
        ]
    },
    {
        "id": "43fe9c1d1c588419",
        "type": "OpcUa-Client",
        "z": "13b08bfeb632c52a",
        "endpoint": "a6463b49.678438",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Escritura Cliente",
        "x": 640,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "9706e56f41ca8a2c",
        "type": "modbus-write",
        "z": "13b08bfeb632c52a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "4097",
        "quantity": "1",
        "server": "7e10f4e5.f87c2c",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 750,
        "y": 1300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2f5e33e76b7a87a4",
        "type": "inject",
        "z": "13b08bfeb632c52a",
        "name": "D1",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "ns=1;s=Delta.D1;datatype=Int16",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=1;s=Delta.D1;datatype=Int16",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "a4963a998d892f14"
            ]
        ]
    },
    {
        "id": "a4963a998d892f14",
        "type": "OpcUa-Client",
        "z": "13b08bfeb632c52a",
        "endpoint": "a6463b49.678438",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Lectura Cliente",
        "x": 310,
        "y": 1200,
        "wires": [
            [
                "aca403a9b60318d1",
                "f43fd02fd06aaeb3",
                "75e22237ddec4ede",
                "09a117bcdb588a48"
            ]
        ]
    },
    {
        "id": "96dcf713086436d4",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 740,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ef0eb2f74774be4d",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "De PLC a servidor OPC UA",
        "info": "",
        "x": 160,
        "y": 1660,
        "wires": []
    },
    {
        "id": "0e265d1becb4b587",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "De servidor OPC UA a PLC",
        "info": "",
        "x": 150,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0187d71212139402",
        "type": "inject",
        "z": "13b08bfeb632c52a",
        "name": "M0",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=1;s=Delta.M0;datatype=Boolean",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "a4963a998d892f14"
            ]
        ]
    },
    {
        "id": "aca403a9b60318d1",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "M0",
        "func": "if (msg.topic == \"ns=1;s=Delta.M0\")\n{\nreturn msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "96dcf713086436d4",
                "d26c49f8ef6e315e"
            ]
        ]
    },
    {
        "id": "f43fd02fd06aaeb3",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "D1",
        "func": "if (msg.topic == \"ns=1;s=Delta.D1\")\n{\nreturn msg;}",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "e0075ec0e1a7e53d",
                "9706e56f41ca8a2c"
            ]
        ]
    },
    {
        "id": "e0075ec0e1a7e53d",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 740,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d26c49f8ef6e315e",
        "type": "modbus-write",
        "z": "13b08bfeb632c52a",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "2048",
        "quantity": "1",
        "server": "7e10f4e5.f87c2c",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 750,
        "y": 1140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "47c25ce247f07719",
        "type": "modbus-read",
        "z": "13b08bfeb632c52a",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1280",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "7e10f4e5.f87c2c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 1800,
        "wires": [
            [
                "f4088929a9d8fec2",
                "59a31ac1496b00d4"
            ],
            []
        ]
    },
    {
        "id": "59a31ac1496b00d4",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "To Client Y0",
        "func": "msg.topic=\"ns=1;s=Delta.Y0;datatype=Boolean\";\nmsg.payload=msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1840,
        "wires": [
            [
                "43fe9c1d1c588419"
            ]
        ]
    },
    {
        "id": "f4088929a9d8fec2",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 350,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b5c89d6f1d0e78e5",
        "type": "arduino in",
        "z": "13b08bfeb632c52a",
        "name": "",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "f9e73317c999a441",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "3f44a72fa31f9b2d",
                "a51098a5877b5def"
            ]
        ]
    },
    {
        "id": "ec8e13985256da5e",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 600,
        "wires": []
    },
    {
        "id": "8287c71f0dcc8b8a",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "Arduino Uno",
        "info": "",
        "x": 90,
        "y": 420,
        "wires": []
    },
    {
        "id": "82d4f37fc53f2a7d",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "Analog Pin 0",
        "info": "",
        "x": 90,
        "y": 500,
        "wires": []
    },
    {
        "id": "8989b283a50fd357",
        "type": "arduino in",
        "z": "13b08bfeb632c52a",
        "name": "",
        "pin": "1",
        "state": "ANALOG",
        "arduino": "f9e73317c999a441",
        "x": 90,
        "y": 700,
        "wires": [
            [
                "b03d2e5acae00f61"
            ]
        ]
    },
    {
        "id": "139747adabf48a53",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "b03d2e5acae00f61",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Conversion a grados C",
        "func": "msg.payload = ((msg.payload * 500)/1024)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 700,
        "wires": [
            [
                "139747adabf48a53",
                "754e40fb1110d153"
            ]
        ]
    },
    {
        "id": "bbea022afafcb023",
        "type": "ui_gauge",
        "z": "13b08bfeb632c52a",
        "name": "Potenciometro A0",
        "group": "b439aa6697087538",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Potenciometro A0",
        "label": "Voltaje",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3f44a72fa31f9b2d",
        "type": "range",
        "z": "13b08bfeb632c52a",
        "minin": "45",
        "maxin": "475",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "Conversion a voltaje",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "ec8e13985256da5e",
                "19924a48f550ef07"
            ]
        ]
    },
    {
        "id": "069c20414ed06d99",
        "type": "ui_gauge",
        "z": "13b08bfeb632c52a",
        "name": "Temperatura A1",
        "group": "b439aa6697087538",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura A1",
        "label": "°C",
        "format": "{{value|number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#33b0e6",
            "#ffff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d4e4ba7f23a28cce",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "Analog Pin 1",
        "info": "",
        "x": 90,
        "y": 640,
        "wires": []
    },
    {
        "id": "009b0f3c34eccc87",
        "type": "arduino out",
        "z": "13b08bfeb632c52a",
        "name": "",
        "pin": "2",
        "state": "OUTPUT",
        "arduino": "f9e73317c999a441",
        "x": 720,
        "y": 1380,
        "wires": []
    },
    {
        "id": "81e2f36e4736919e",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "Digital Pin 2",
        "info": "",
        "x": 90,
        "y": 860,
        "wires": []
    },
    {
        "id": "5591d2ae4e93e16b",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "PWM Pin 3",
        "info": "",
        "x": 80,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7baba9b1d3322ab4",
        "type": "ui_button",
        "z": "13b08bfeb632c52a",
        "name": "Encender",
        "group": "5e74200e.55d4e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encender",
        "tooltip": "",
        "color": "",
        "bgcolor": "Green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "ns=1;s=Arduino.Pin2;datatype=Boolean",
        "topicType": "str",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "c898faa721b2dd3f"
            ]
        ]
    },
    {
        "id": "3941606afccbf3ef",
        "type": "ui_button",
        "z": "13b08bfeb632c52a",
        "name": "Apagar",
        "group": "5e74200e.55d4e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagar",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "ns=1;s=Arduino.Pin2;datatype=Boolean",
        "topicType": "str",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "c898faa721b2dd3f"
            ]
        ]
    },
    {
        "id": "fc50f037fc320d55",
        "type": "ui_slider",
        "z": "13b08bfeb632c52a",
        "name": "Intensidad de LED",
        "label": "Intensidad de LED",
        "tooltip": "",
        "group": "5e74200e.55d4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "ns=1;s=Arduino.Pin3;datatype=Int16",
        "topicType": "str",
        "min": "0",
        "max": "255",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "ad9776503f95dbd6"
            ]
        ]
    },
    {
        "id": "ea5d27440a47feae",
        "type": "arduino out",
        "z": "13b08bfeb632c52a",
        "name": "",
        "pin": "3",
        "state": "PWM",
        "arduino": "f9e73317c999a441",
        "x": 720,
        "y": 1440,
        "wires": []
    },
    {
        "id": "f893e9302d4e44e0",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "De Arduino a servidor OPC UA",
        "info": "",
        "x": 150,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d22961ab5d5bb14",
        "type": "comment",
        "z": "13b08bfeb632c52a",
        "name": "De servidor OPC UA a Arduino",
        "info": "",
        "x": 150,
        "y": 820,
        "wires": []
    },
    {
        "id": "19924a48f550ef07",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Al Servidor",
        "func": "msg.topic = \"ns=1;s=Arduino.A0;datatype=Float\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 640,
        "wires": [
            [
                "7bc97a84ddeb514d"
            ]
        ]
    },
    {
        "id": "7bc97a84ddeb514d",
        "type": "link out",
        "z": "13b08bfeb632c52a",
        "name": "ArduinoA0",
        "links": [
            "75591b62d845ac4f"
        ],
        "x": 655,
        "y": 640,
        "wires": []
    },
    {
        "id": "75591b62d845ac4f",
        "type": "link in",
        "z": "13b08bfeb632c52a",
        "name": "",
        "links": [
            "7bc97a84ddeb514d",
            "968f8b1b753e1c92",
            "c898faa721b2dd3f",
            "ad9776503f95dbd6"
        ],
        "x": 415,
        "y": 1880,
        "wires": [
            [
                "43fe9c1d1c588419"
            ]
        ]
    },
    {
        "id": "754e40fb1110d153",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Al Servidor",
        "func": "msg.topic = \"ns=1;s=Arduino.A1;datatype=Float\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 780,
        "wires": [
            [
                "968f8b1b753e1c92"
            ]
        ]
    },
    {
        "id": "968f8b1b753e1c92",
        "type": "link out",
        "z": "13b08bfeb632c52a",
        "name": "ArduinoA1",
        "links": [
            "75591b62d845ac4f"
        ],
        "x": 655,
        "y": 780,
        "wires": []
    },
    {
        "id": "6c38b27cb4f15ba2",
        "type": "ui_text_input",
        "z": "13b08bfeb632c52a",
        "name": "Variable Double",
        "label": "Variable Double",
        "tooltip": "",
        "group": "c8ca0c4a21dcf973",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "ns=1;s=Variable1;datatype=Double",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "ac6feb4b631bbdd1"
            ]
        ]
    },
    {
        "id": "b6b4c41be7c51aca",
        "type": "inject",
        "z": "13b08bfeb632c52a",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "9f2c6ad73201264d"
            ]
        ]
    },
    {
        "id": "9f2c6ad73201264d",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Interpreta datos",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\n\n\nmsg1.topic=\"ns=1;s=Variable1;datatype=Double\";\nmsg2.topic=\"ns=1;s=Variable2;datatype=Float\";\nmsg3.topic=\"ns=1;s=Variable3;datatype=Boolean\";\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 180,
        "wires": [
            [
                "dc9017804366b82d"
            ],
            [
                "dc9017804366b82d"
            ],
            [
                "dc9017804366b82d"
            ]
        ]
    },
    {
        "id": "02184fc9335fd5d1",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Separa",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\n\n\nif(msg.topic==\"ns=1;s=Variable1\")\n{\n    msg1.payload=msg.payload;\n    msg1.topic=\"Variable 1;\"\n    return [msg1, null, null];\n    \n}\n\nif(msg.topic==\"ns=1;s=Variable2\")\n{\n    msg2.payload=msg.payload;\n    msg2.topic=\"Variable 2;\"\n    return [null, msg2, null];\n\n}\n\nif(msg.topic==\"ns=1;s=Variable3\")\n{\n    msg3.payload=msg.payload;\n    msg3.topic=\"Variable 3;\"\n    return [null, null, msg3];\n\n}\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "89af16bd0c116e50"
            ],
            [
                "63a5a3bf9a7ebdd0"
            ],
            [
                "d36ac73a2e7ecedb",
                "83d1c69c05a23d8e",
                "7a933521eab71c7c"
            ]
        ]
    },
    {
        "id": "89af16bd0c116e50",
        "type": "ui_text",
        "z": "13b08bfeb632c52a",
        "group": "fa560be65b703c6e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Variable Double",
        "label": "Variable Double",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "63a5a3bf9a7ebdd0",
        "type": "ui_text",
        "z": "13b08bfeb632c52a",
        "group": "fa560be65b703c6e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Variable Float",
        "label": "Variable Float",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "d36ac73a2e7ecedb",
        "type": "ui_audio",
        "z": "13b08bfeb632c52a",
        "name": "Alerta de voz",
        "group": "fa560be65b703c6e",
        "voice": "urn:moz-tts:sapi:Microsoft Sabina Desktop - Spanish (Mexico)?es-MX",
        "always": true,
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "faee265dbc970306",
        "type": "ui_switch",
        "z": "13b08bfeb632c52a",
        "name": "Variable Boolean",
        "label": "Variable Boolean",
        "tooltip": "",
        "group": "c8ca0c4a21dcf973",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ns=1;s=Variable3;datatype=Boolean",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "ac6feb4b631bbdd1"
            ]
        ]
    },
    {
        "id": "83d1c69c05a23d8e",
        "type": "rpi-gpio out",
        "z": "13b08bfeb632c52a",
        "name": "LED",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "7a933521eab71c7c",
        "type": "ui_led",
        "z": "13b08bfeb632c52a",
        "order": 4,
        "group": "fa560be65b703c6e",
        "width": 0,
        "height": 0,
        "label": "Led Raspberry",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led Raspberry",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "c898faa721b2dd3f",
        "type": "link out",
        "z": "13b08bfeb632c52a",
        "name": "",
        "mode": "link",
        "links": [
            "75591b62d845ac4f"
        ],
        "x": 245,
        "y": 940,
        "wires": []
    },
    {
        "id": "ad9776503f95dbd6",
        "type": "link out",
        "z": "13b08bfeb632c52a",
        "name": "",
        "mode": "link",
        "links": [
            "75591b62d845ac4f"
        ],
        "x": 255,
        "y": 1060,
        "wires": []
    },
    {
        "id": "75e22237ddec4ede",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Separa",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\n\nif (msg.topic == \"ns=1;s=Arduino.Pin2\")\n{\n    if (msg.payload === true)\n   { \n     msg1.payload = 1;\n     msg1.topic=\"Pin2;\"\n     return [msg1, null, null, null];\n    }\n    \n     if (msg.payload === false)\n     {\n     msg1.payload = 0;\n     msg1.topic=\"Pin2;\"\n     return [msg1, null, null, null];\n     }\n}\n\nif (msg.topic == \"ns=1;s=Arduino.Pin3\")\n{\n     msg2.payload=msg.payload;\n     msg2.topic=\"Pin3\"\n     return [null, msg2, null, null];\n}\n\nif (msg.topic == \"ns=1;s=Arduino.A0\")\n{\n     msg3.payload=msg.payload;\n     msg3.topic=\"PinA0\"\n     return [null, null, msg3, null];\n}\n\nif (msg.topic == \"ns=1;s=Arduino.A1\")\n{\n     msg4.payload=msg.payload;\n     msg4.topic=\"PinA1\"\n     return [null, null, null, msg4];\n}\n\n//return [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1420,
        "wires": [
            [
                "009b0f3c34eccc87"
            ],
            [
                "ea5d27440a47feae"
            ],
            [
                "bbea022afafcb023"
            ],
            [
                "069c20414ed06d99"
            ]
        ]
    },
    {
        "id": "09a117bcdb588a48",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1320,
        "wires": []
    },
    {
        "id": "0acb52add4dd7ac4",
        "type": "inject",
        "z": "13b08bfeb632c52a",
        "name": "",
        "props": [],
        "repeat": ".99",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 1340,
        "wires": [
            [
                "8d864295f99c3253"
            ]
        ]
    },
    {
        "id": "8d864295f99c3253",
        "type": "function",
        "z": "13b08bfeb632c52a",
        "name": "Interpreta datos",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\n\nmsg1.topic=\"ns=1;s=Arduino.Pin2;datatype=Boolean\";\nmsg2.topic=\"ns=1;s=Arduino.Pin3;datatype=Int16\";\nmsg3.topic=\"ns=1;s=Arduino.A0;datatype=Float\";\nmsg4.topic=\"ns=1;s=Arduino.A1;datatype=Float\";\n\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1340,
        "wires": [
            [
                "a4963a998d892f14"
            ],
            [
                "a4963a998d892f14"
            ],
            [
                "a4963a998d892f14"
            ],
            [
                "a4963a998d892f14"
            ]
        ]
    },
    {
        "id": "a51098a5877b5def",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 520,
        "wires": []
    },
    {
        "id": "6a69975af4ac5c7b",
        "type": "catch",
        "z": "13b08bfeb632c52a",
        "name": "Errores",
        "scope": null,
        "uncaught": false,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "98264d15c78422b1"
            ]
        ]
    },
    {
        "id": "98264d15c78422b1",
        "type": "debug",
        "z": "13b08bfeb632c52a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "7386717dcc379225",
        "type": "ui_text_input",
        "z": "13b08bfeb632c52a",
        "name": "Variable Float",
        "label": "Variable Float",
        "tooltip": "",
        "group": "c8ca0c4a21dcf973",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "ns=1;s=Variable2;datatype=Float",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "ac6feb4b631bbdd1"
            ]
        ]
    },
    {
        "id": "51c11211847086c4",
        "type": "ui_toast",
        "z": "13b08bfeb632c52a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "Alerta",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "7a5b654792c97d95",
        "type": "OPCUA-IIoT-Flex-Server",
        "z": "13b08bfeb632c52a",
        "port": "55380",
        "endpoint": "",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": "",
        "maxConnectionsPerEndpoint": "",
        "maxAllowedSubscriptionNumber": "",
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": true,
        "showErrors": true,
        "allowAnonymous": true,
        "individualCerts": true,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [
            {
                "name": "mas4oll",
                "password": "ValarMorghulis1024#"
            }
        ],
        "xmlsets": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "3",
        "discoveryServerEndpointUrl": "",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": 1000,
        "maxNodesPerBrowse": 2000,
        "delayToClose": 1000,
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = script placeholder\n    // eventObjects = to hold event variables in memory from this script\n    \n    // internal global sandbox objects are \n    // node = node of the flex server, \n    // coreServer = core iiot server object for debug and access to nodeOPCUA,\n    // and scriptObjects to hold variables and functions\n    const LocalizedText = coreServer.core.nodeOPCUA.LocalizedText\n    const namespace = addressSpace.getOwnNamespace()\n\n    coreServer.internalDebugLog('init dynamic address space')\n    node.warn('Servidor OPC UA en Node-Red inicializado')\n    \n    // from here - see the node-opcua docs how to build address sapces\n    let tanks = namespace.addObject({\n        browseName: 'Tanks',\n        description: 'The Object representing some tanks',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n    let oilTankLevel = namespace.addVariable({\n        browseName: 'OilTankLevel',\n        displayName: [\n          new LocalizedText({text: 'Oil Tank Level', locale: 'en-US'}),\n          new LocalizedText({text: 'Öl Tank Füllstand', locale: 'de-DE'})\n        ],\n        description: 'Fill level in percentage (0% to 100%) of the oil tank',\n        propertyOf: tanks,\n        dataType: 'Double',\n        eventSourceOf: tanks\n    })\n    \n    // ---------------------------------------------------------------------------------\n    // Let's create a exclusive Limit Alarm that automatically raise itself\n    // when the tank level is out of limit\n    // ---------------------------------------------------------------------------------\n    let exclusiveLimitAlarmType = addressSpace.findEventType('ExclusiveLimitAlarmType')\n    node.bianco.iiot.assert(exclusiveLimitAlarmType !== null)\n    \n    let oilTankLevelCondition = namespace.instantiateExclusiveLimitAlarm(exclusiveLimitAlarmType, {\n        componentOf: tanks,\n        conditionSource: oilTankLevel,\n        browseName: 'OilTankLevelCondition',\n        displayName: [\n          new LocalizedText({text: 'Oil Tank Level Condition', locale: 'en-US'}),\n          new LocalizedText({text: 'Öl Tank Füllstand Bedingung', locale: 'de-DE'})\n        ],\n        description: 'ExclusiveLimitAlarmType Condition',\n        conditionName: 'OilLevelCondition',\n        optionals: [\n          'ConfirmedState', 'Confirm' // confirm state and confirm Method\n        ],\n        inputNode: oilTankLevel,   // the letiable that will be monitored for change\n        highHighLimit: 0.9,\n        highLimit: 0.8,\n        lowLimit: 0.2\n    })\n    \n    // --------------------------------------------------------------\n    // Let's create a second letiable with no Exclusive alarm\n    // --------------------------------------------------------------\n    let gasTankLevel = namespace.addVariable({\n        browseName: 'GasTankLevel',\n        displayName: [\n          new LocalizedText({text: 'Gas Tank Level', locale: 'en-US'}),\n          new LocalizedText({text: 'Gas Tank Füllstand', locale: 'de-DE'})\n        ],\n        description: 'Fill level in percentage (0% to 100%) of the gas tank',\n        propertyOf: tanks,\n        dataType: 'Double',\n        eventSourceOf: tanks\n    })\n    \n    let nonExclusiveLimitAlarmType = addressSpace.findEventType('NonExclusiveLimitAlarmType')\n    node.bianco.iiot.assert(nonExclusiveLimitAlarmType !== null)\n    \n    let gasTankLevelCondition = namespace.instantiateNonExclusiveLimitAlarm(nonExclusiveLimitAlarmType, {\n        componentOf: tanks,\n        conditionSource: gasTankLevel,\n        browseName: 'GasTankLevelCondition',\n        displayName: [\n          new LocalizedText({text: 'Gas Tank Level Condition', locale: 'en-US'}),\n          new LocalizedText({text: 'Gas Tank Füllstand Bedingung', locale: 'de-DE'})\n        ],\n        description: 'NonExclusiveLimitAlarmType Condition',\n        conditionName: 'GasLevelCondition',\n        optionals: [\n          'ConfirmedState', 'Confirm' // confirm state and confirm Method\n        ],\n        inputNode: gasTankLevel,   // the letiable that will be monitored for change\n        highHighLimit: 0.9,\n        highLimit: 0.8,\n        lowLimit: 0.2\n    })\n    \n    \n    // Condiciones Iniciales para Node-RED variables con valores ---------------------------------------------\n    \n    if(scriptObjects.Variable1 === undefined || scriptObjects.Variable1 === null) {\n        scriptObjects.Variable1 = 0.0\n    }\n    \n    if(scriptObjects.Variable2 === undefined || scriptObjects.Variable2 === null) {\n        scriptObjects.Variable2 = 0.0\n    }\n    \n    if(scriptObjects.Variable3 === undefined || scriptObjects.Variable3 === null) {\n        scriptObjects.Variable3 = false\n    }\n    \n\t    \n    // Condiciones Iniciales para PLC Delta variables con valores ---------------------------------------------\n    \n    if(scriptObjects.D0 === undefined || scriptObjects.D0 === null) {\n        scriptObjects.D0 = 0\n\t}\n\tif(scriptObjects.D1 === undefined || scriptObjects.D1 === null) {\n        scriptObjects.D1 = 0\n\t}\n\t\t\n\tif(scriptObjects.M0 === undefined || scriptObjects.M0 === null) {\n        scriptObjects.M0 = false\n\t}\n\t\t\n\tif(scriptObjects.Y0 === undefined || scriptObjects.Y0 === null) {\n        scriptObjects.Y0 = false\n\t}\n\t\n\t\n\t// Condiciones Iniciales para Arduino variables con valores ---------------------------------------------\n    \n    if(scriptObjects.A0 === undefined || scriptObjects.A0 === null) {\n        scriptObjects.A0 = 0.0\n\t}\n\tif(scriptObjects.A1 === undefined || scriptObjects.A1 === null) {\n        scriptObjects.A1 = 0.0\n    }\n\t\t\n\tif(scriptObjects.Pin2 === undefined || scriptObjects.Pin2 === null) {\n        scriptObjects.Pin2 = false\n\t}\n\t\t\n\tif(scriptObjects.Pin3 === undefined || scriptObjects.Pin3 === null) {\n        scriptObjects.Pin3 = 0\n\t}\n\t\n\t\n\t// Condiciones Iniciales para MQTT ---------------------------------------------\n    \n    if(scriptObjects.T1 === undefined || scriptObjects.T1 === null) {\n        scriptObjects.T1 = 0.0\n\t}\n\t\n\tif(scriptObjects.H1 === undefined || scriptObjects.H1 === null) {\n        scriptObjects.H1 = 0\n\t}\n\t\t\n\tif(scriptObjects.M1 === undefined || scriptObjects.M1 === null) {\n        scriptObjects.M1 = false\n\t}\n\t\n\tif(scriptObjects.T2 === undefined || scriptObjects.T2 === null) {\n        scriptObjects.T2 = 0.0\n\t}\n\t\n\tif(scriptObjects.H2 === undefined || scriptObjects.H2 === null) {\n        scriptObjects.H2 = 0\n\t}\n\t\t\n\tif(scriptObjects.M2 === undefined || scriptObjects.M2 === null) {\n        scriptObjects.M2 = false\n\t}\n\t\n\t\n\t// Condiciones Iniciales ping dispositivos de presencia ---------------------------------------------------------\n\t\n\tif(scriptObjects.P1 === undefined || scriptObjects.P1 === null) {\n        scriptObjects.P1 = false\n\t}\n\t\n\tif(scriptObjects.P2 === undefined || scriptObjects.P2 === null) {\n        scriptObjects.P2 = false\n\t}\n\n\tif(scriptObjects.P3 === undefined || scriptObjects.P3 === null) {\n        scriptObjects.P3 = false\n\t}\n\n\tif(scriptObjects.P4 === undefined || scriptObjects.P4 === null) {\n        scriptObjects.P4 = false\n\t}\n\n\tif(scriptObjects.P5 === undefined || scriptObjects.P5 === null) {\n        scriptObjects.P5 = false\n\t}\n\n\t\n    //Creación de Objetos en el Servidor OPC UA ------------------------------------------------\n    \n    let myVariable1 = namespace.addObject({\n        browseName: 'Variables Node-Red',\n        description: 'El objeto representa algunas variables para uso con Node-Red',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n\tlet myVariable2 = namespace.addObject({\n        browseName: 'Variables de PLC Delta',\n        description: 'Incorpora el uso de variables para uso con un PLC Delta',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n\tlet myVariable3 = namespace.addObject({\n        browseName: 'Variables de Arduino',\n        description: 'Incorpora el uso de variables para uso con un Arduino Mega',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n\n\tlet myVariable4 = namespace.addObject({\n        browseName: 'Variables de MQTT 1',\n        description: 'Variables nuevas de casa Masqui',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n    let myVariable5 = namespace.addObject({\n        browseName: 'Variables de MQTT 2',\n        description: 'Variables nuevas de casa Masqui',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n    let myVariable6 = namespace.addObject({\n        browseName: 'Variables de Presencia',\n        description: 'Variables para detectar presencia con dispositivos en casa Masqui',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n    \n    // Definiendo tabla de propiedades para variables de Node-Red -----------------------------\n    \n    if(coreServer.core) \n    {\n        \n        namespace.addVariable({\n            componentOf: myVariable1,\n            nodeId: 'ns=1;s=Variable1',\n            browseName: 'Variable1',\n            displayName: [\n                new LocalizedText({text: 'Variable1', locale: 'es-MX'}),\n                new LocalizedText({text: 'Variable1', locale: 'en-US'})\n            ],\n            dataType: 'Double',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Double',\n                        value: scriptObjects.Variable1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.Variable1 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n        namespace.addVariable({\n            componentOf: myVariable1,\n            nodeId: 'ns=1;s=Variable2',\n            browseName: 'Variable2',\n            displayName: [\n                new LocalizedText({text: 'Variable2', locale: 'es-MX'}),\n                new LocalizedText({text: 'Variable2', locale: 'en-US'})\n            ],\n            dataType: 'Float',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Float',\n                        value: scriptObjects.Variable2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.Variable2 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n        namespace.addVariable({\n            componentOf: myVariable1,\n            nodeId: 'ns=1;s=Variable3',\n            browseName: 'Variable3',\n            displayName: [\n                new LocalizedText({text: 'Variable3', locale: 'en-US'}),\n                new LocalizedText({text: 'Variable3', locale: 'de-DE'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.Variable3\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.Variable3 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n\t\t\n\t\t// Variables para PLC Delta\n\t\t\n\t    namespace.addVariable({\n            componentOf: myVariable2,\n            nodeId: 'ns=1;s=Delta.D0',\n            browseName: 'Delta.D0',\n            displayName: [\n                new LocalizedText({text: 'Delta.D0', locale: 'en-US'}),\n                new LocalizedText({text: 'Delta.D0', locale: 'de-DE'})\n            ],\n            dataType: 'Int16',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Int16',\n                        value: scriptObjects.D0\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.D0 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable2,\n            nodeId: 'ns=1;s=Delta.D1',\n            browseName: 'Delta.D1',\n            displayName: [\n                new LocalizedText({text: 'Delta.D1', locale: 'en-US'}),\n                new LocalizedText({text: 'Delta.D1', locale: 'de-DE'})\n            ],\n            dataType: 'Int16',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Int16',\n                        value: scriptObjects.D1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.D1 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n        \n        namespace.addVariable({\n            componentOf: myVariable2,\n            nodeId: 'ns=1;s=Delta.M0',\n            browseName: 'Delta.M0',\n            displayName: [\n                new LocalizedText({text: 'Delta.M0', locale: 'en-US'}),\n                new LocalizedText({text: 'Delta.M0', locale: 'de-DE'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.M0\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.M0 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable2,\n            nodeId: 'ns=1;s=Delta.Y0',\n            browseName: 'Delta.Y0',\n            displayName: [\n                new LocalizedText({text: 'Delta.Y0', locale: 'en-US'}),\n                new LocalizedText({text: 'Delta.Y0', locale: 'de-DE'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.Y0\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.Y0 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\t\n\t\t// Variables para Arduino\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable3,\n            nodeId: 'ns=1;s=Arduino.A0',\n            browseName: 'Arduino.A0',\n            displayName: [\n                new LocalizedText({text: 'Arduino.A0', locale: 'en-US'}),\n                new LocalizedText({text: 'Arduino.A0', locale: 'de-DE'})\n            ],\n            dataType: 'Float',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Float',\n                        value: scriptObjects.A0\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.A0 = parseFloat(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable3,\n            nodeId: 'ns=1;s=Arduino.A1',\n            browseName: 'Arduino.A1',\n            displayName: [\n                new LocalizedText({text: 'Arduino.A1', locale: 'en-US'}),\n                new LocalizedText({text: 'Arduino.A1', locale: 'de-DE'})\n            ],\n            dataType: 'Float',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Float',\n                        value: scriptObjects.A1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.A1 = parseFloat(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable3,\n            nodeId: 'ns=1;s=Arduino.Pin2',\n            browseName: 'Arduino.Pin2',\n            displayName: [\n                new LocalizedText({text: 'Arduino.Pin2', locale: 'en-US'}),\n                new LocalizedText({text: 'Arduino.Pin2', locale: 'de-DE'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.Pin2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.Pin2 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable3,\n            nodeId: 'ns=1;s=Arduino.Pin3',\n            browseName: 'Arduino.Pin3',\n            displayName: [\n                new LocalizedText({text: 'Arduino.Pin3', locale: 'en-US'}),\n                new LocalizedText({text: 'Arduino.Pin3', locale: 'de-DE'})\n            ],\n            dataType: 'Int16',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Int16',\n                        value: scriptObjects.Pin3\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.Pin3 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n\n        })\n\t\n\t\t\n\t\t// Variables para MQTT\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable4,\n            nodeId: 'ns=1;s=MQTT.T1',\n            browseName: 'MQTT.T1',\n            displayName: [\n                new LocalizedText({text: 'MQTT.T1', locale: 'es-MX'}),\n                new LocalizedText({text: 'MQTT.T1', locale: 'en-US'})\n            ],\n            dataType: 'Double',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Double',\n                        value: scriptObjects.T1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.T1 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\t\tnamespace.addVariable({\n            componentOf: myVariable4,\n            nodeId: 'ns=1;s=MQTT.H1',\n            browseName: 'MQTT.H1',\n            displayName: [\n                new LocalizedText({text: 'MQTT.H1', locale: 'es-MX'}),\n                new LocalizedText({text: 'MQTT.H1', locale: 'en-US'})\n            ],\n            dataType: 'Int16',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Int16',\n                        value: scriptObjects.H1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.H1 = parseInt(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable4,\n            nodeId: 'ns=1;s=MQTT.M1',\n            browseName: 'MQTT.M1',\n            displayName: [\n                new LocalizedText({text: 'MQTT.M1', locale: 'es-MX'}),\n                new LocalizedText({text: 'MQTT.M1', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.M1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.M1 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\n\t\tnamespace.addVariable({\n            componentOf: myVariable5,\n            nodeId: 'ns=1;s=MQTT.T2',\n            browseName: 'MQTT.T2',\n            displayName: [\n                new LocalizedText({text: 'MQTT.T2', locale: 'es-MX'}),\n                new LocalizedText({text: 'MQTT.T2', locale: 'en-US'})\n            ],\n            dataType: 'Double',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Double',\n                        value: scriptObjects.T2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.T2 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable5,\n            nodeId: 'ns=1;s=MQTT.H2',\n            browseName: 'MQTT.H2',\n            displayName: [\n                new LocalizedText({text: 'MQTT.H2', locale: 'es-MX'}),\n                new LocalizedText({text: 'MQTT.H2', locale: 'en-US'})\n            ],\n            dataType: 'Int16',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Int16',\n                        value: scriptObjects.H2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.H2 = parseInt(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\t\t\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable5,\n            nodeId: 'ns=1;s=MQTT.M2',\n            browseName: 'MQTT.M2',\n            displayName: [\n                new LocalizedText({text: 'MQTT.M2', locale: 'es-MX'}),\n                new LocalizedText({text: 'MQTT.M2', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.M2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.M2 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\n\n\t\t// Variables de presencia con Ping\n\t\t\n\t\tnamespace.addVariable({\n            componentOf: myVariable6,\n            nodeId: 'ns=1;s=Jean.P1',\n            browseName: 'Jean.P1',\n            displayName: [\n                new LocalizedText({text: 'Jean.P1', locale: 'es-MX'}),\n                new LocalizedText({text: 'Jean.P1', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.P1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.P1 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n\t\tnamespace.addVariable({\n            componentOf: myVariable6,\n            nodeId: 'ns=1;s=Nano.P2',\n            browseName: 'Nano.P2',\n            displayName: [\n                new LocalizedText({text: 'Nano.P2', locale: 'es-MX'}),\n                new LocalizedText({text: 'Nano.P2', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.P2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.P2 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\n\t\tnamespace.addVariable({\n            componentOf: myVariable6,\n            nodeId: 'ns=1;s=Yanet.P3',\n            browseName: 'Yanet.P3',\n            displayName: [\n                new LocalizedText({text: 'Yanet.P3', locale: 'es-MX'}),\n                new LocalizedText({text: 'Yanet.P3', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.P3\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.P3 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\n\t\tnamespace.addVariable({\n            componentOf: myVariable6,\n            nodeId: 'ns=1;s=Luis.P4',\n            browseName: 'Luis.P4',\n            displayName: [\n                new LocalizedText({text: 'Luis.P4', locale: 'es-MX'}),\n                new LocalizedText({text: 'Luis.P4', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.P4\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.P4 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\n\t\tnamespace.addVariable({\n            componentOf: myVariable6,\n            nodeId: 'ns=1;s=Cam.P5',\n            browseName: 'Cam.P5',\n            displayName: [\n                new LocalizedText({text: 'Cam.P5', locale: 'es-MX'}),\n                new LocalizedText({text: 'Cam.P5', locale: 'en-US'})\n            ],\n            dataType: 'Boolean',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Boolean',\n                        value: scriptObjects.P5\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.P5 = variant.value\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n\n        \n/********************************************************************************************************************************************************/\n        \n        let memoryVariable = namespace.addVariable({\n            componentOf: myVariable1,\n            nodeId: 'ns=1;s=free_memory',\n            browseName: 'FreeMemory',\n            displayName: [\n                new LocalizedText({text: 'Free Memory', locale: 'en-US'}),\n                new LocalizedText({text: 'Memoria libre', locale: 'es-MX'})\n            ],\n            dataType: 'Double',\n            \n            value: {\n              get: function () {\n                return new coreServer.core.nodeOPCUA.Variant({\n                  dataType: 'Double',\n                  value: coreServer.core.availableMemory()\n                })\n              }\n            }\n        })\n        addressSpace.installHistoricalDataNode(memoryVariable)\n       \n    } else {\n        coreServer.internalDebugLog('coreServer.core needed for coreServer.core.nodeOPCUA')\n    }\n\n    // Mantiene eventos de objetos en memoria \n    eventObjects.oilTankLevel = oilTankLevel\n    eventObjects.oilTankLevelCondition = oilTankLevelCondition\n    \n    eventObjects.gasTankLevel = gasTankLevel\n    eventObjects.gasTankLevelCondition = gasTankLevelCondition\n    \n    done()\n}",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "51c11211847086c4"
            ]
        ]
    },
    {
        "id": "fea920a6eb1a2379",
        "type": "ui_chart",
        "z": "269813c2b8029cb5",
        "name": "",
        "group": "535b72c3.b2d50c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Dientes de Sierra",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 610,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2b045d6987899c07",
        "type": "ui_chart",
        "z": "269813c2b8029cb5",
        "name": "",
        "group": "535b72c3.b2d50c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Senoidal",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "41d21cb0478972e6",
        "type": "function",
        "z": "269813c2b8029cb5",
        "name": "Interpreta datos",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg6 = {};\nmsg7 = {};\nmsg8 = {};\n\nmsg1.topic=\"ns=3;i=1001;datatype=Double\";\nmsg2.topic=\"ns=3;i=1002;datatype=Double\";\nmsg3.topic=\"ns=3;i=1003;datatype=Double\";\nmsg4.topic=\"ns=3;i=1004;datatype=Double\";\nmsg5.topic=\"ns=3;i=1005;datatype=Double\";\nmsg6.topic=\"ns=3;i=1006;datatype=Double\";\nmsg7.topic=\"ns=3;i=1013;datatype=String\";\nmsg8.topic=\"ns=3;i=1008;datatype=Boolean\";\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ],
            [
                "13dfd6c11ca84460"
            ]
        ]
    },
    {
        "id": "6826e883895b0856",
        "type": "inject",
        "z": "269813c2b8029cb5",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "41d21cb0478972e6"
            ]
        ]
    },
    {
        "id": "0c4f4a1c17ca0376",
        "type": "function",
        "z": "269813c2b8029cb5",
        "name": "Separa",
        "func": "msg1 = {};\nmsg2 = {};\nmsg3 = {};\nmsg4 = {};\nmsg5 = {};\nmsg6 = {};\nmsg7 = {};\nmsg8 = {};\n\n\nif(msg.topic==\"ns=3;i=1001\")\n{\n    msg1.payload=msg.payload;\n    msg1.topic=\"Contador;\"\n    //return [msg1, null, null, null, null, null, null, null];\n}\n\nif(msg.topic==\"ns=3;i=1002\")\n{\n    msg2.payload=msg.payload;\n    msg2.topic=\"Random;\"\n    //return [null, msg2, null, null, null, null, null, null];\n\n}\n\nif(msg.topic==\"ns=3;i=1003\")\n{\n    msg3.payload=msg.payload;\n    msg3.topic=\"Dientes de Sierra;\"\n    //return [null, null, msg3, null, null, null, null, null];\n}\n\nif(msg.topic==\"ns=3;i=1004\")\n{\n    msg4.payload=msg.payload;\n    msg4.topic=\"Senoidal;\"\n    //return [null, null, null, msg4, null, null, null, null];\n}\n\nif(msg.topic==\"ns=3;i=1005\")\n{\n    msg5.payload=msg.payload;\n    msg5.topic=\"Cuadrada;\"\n    //return [null, null, null, null, msg5, null, null, null];\n}\n\nif(msg.topic==\"ns=3;i=1006\")\n{\n    msg6.payload=msg.payload;\n    msg6.topic=\"Triangular;\"\n    //return [null, null, null, null, null, msg6, null, null];\n}\n\nif(msg.topic==\"ns=3;i=1013\")\n{\n    msg7.payload=msg.payload;\n    msg7.topic=\"Texto;\"\n    //return [null, null, null, null, null, null, msg7, null];\n}\n\nif(msg.topic==\"ns=3;i=1008\")\n{\n    msg8.payload=msg.payload;\n    msg8.topic=\"Pushbutton;\"\n    //return [null, null, null, null, null, null, null, msg8];\n}\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "b9c679c4c21f8ba4"
            ],
            [
                "7e8cb2f3162518b7"
            ],
            [
                "fea920a6eb1a2379"
            ],
            [
                "2b045d6987899c07"
            ],
            [
                "0f0cb8d229c343cc"
            ],
            [
                "607b76ce44d9cd2f"
            ],
            [
                "ec97b8e08a9c0ad7"
            ],
            [
                "82a75bd4b9ebee39",
                "742c101c0cec44c7"
            ]
        ]
    },
    {
        "id": "b9c679c4c21f8ba4",
        "type": "ui_chart",
        "z": "269813c2b8029cb5",
        "name": "",
        "group": "535b72c3.b2d50c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Contador",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "7e8cb2f3162518b7",
        "type": "ui_chart",
        "z": "269813c2b8029cb5",
        "name": "",
        "group": "535b72c3.b2d50c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Random",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0cb8d229c343cc",
        "type": "ui_chart",
        "z": "269813c2b8029cb5",
        "name": "",
        "group": "535b72c3.b2d50c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Cuadrada",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "607b76ce44d9cd2f",
        "type": "ui_chart",
        "z": "269813c2b8029cb5",
        "name": "",
        "group": "535b72c3.b2d50c",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Triangular",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ec97b8e08a9c0ad7",
        "type": "ui_text",
        "z": "269813c2b8029cb5",
        "group": "499c8851170900f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Lectura String",
        "label": "Lectura String",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "82a75bd4b9ebee39",
        "type": "ui_text",
        "z": "269813c2b8029cb5",
        "group": "499c8851170900f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Lectura Switch",
        "label": "Lectura Switch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "9ed5a27fc456b0a3",
        "type": "ui_switch",
        "z": "269813c2b8029cb5",
        "name": "Switch",
        "label": "Switch",
        "tooltip": "",
        "group": "9884fc027ca07aef",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "ns=3;i=1008;datatype=Boolean",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "e54c7e7c79e79ab1"
            ]
        ]
    },
    {
        "id": "13dfd6c11ca84460",
        "type": "OpcUa-Client",
        "z": "269813c2b8029cb5",
        "endpoint": "1e85091f3a431c41",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Lectura de cliente",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "0c4f4a1c17ca0376"
            ]
        ]
    },
    {
        "id": "e54c7e7c79e79ab1",
        "type": "OpcUa-Client",
        "z": "269813c2b8029cb5",
        "endpoint": "1e85091f3a431c41",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Escritura de cliente",
        "x": 390,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "742c101c0cec44c7",
        "type": "ui_led",
        "z": "269813c2b8029cb5",
        "order": 3,
        "group": "499c8851170900f4",
        "width": 0,
        "height": 0,
        "label": "Led",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Led",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "084da49ee60a772a",
        "type": "rpi-gpio in",
        "z": "269813c2b8029cb5",
        "name": "Switch",
        "pin": "17",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "69a9dcfb52d16e09"
            ]
        ]
    },
    {
        "id": "69a9dcfb52d16e09",
        "type": "function",
        "z": "269813c2b8029cb5",
        "name": "",
        "func": "msg1 = {};\nmsg.topic = \"ns=3;i=1008;datatype=Boolean\"\n\nif (msg.topic == \"ns=3;i=1008;datatype=Boolean\")\n{\n    if (msg.payload === 1)\n   { \n     msg1.payload = true;\n     msg1.topic=\"ns=3;i=1008;datatype=Boolean\"\n     return [msg1];\n    }\n    \n     if (msg.payload === 0)\n     {\n     msg1.payload = false;\n     msg1.topic=\"ns=3;i=1008;datatype=Boolean\"\n     return [msg1];\n     }\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "e54c7e7c79e79ab1"
            ]
        ]
    },
    {
        "id": "4b726b6c49b0d9bc",
        "type": "catch",
        "z": "269813c2b8029cb5",
        "name": "Errores",
        "scope": null,
        "uncaught": false,
        "x": 70,
        "y": 40,
        "wires": [
            [
                "bac04593b0599be6"
            ]
        ]
    },
    {
        "id": "bac04593b0599be6",
        "type": "debug",
        "z": "269813c2b8029cb5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "3013175906bbd5ca",
        "type": "ui_text_input",
        "z": "269813c2b8029cb5",
        "name": "Variable String",
        "label": "Variable String",
        "tooltip": "",
        "group": "9884fc027ca07aef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "ns=3;i=1013;datatype=String",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "e54c7e7c79e79ab1"
            ]
        ]
    },
    {
        "id": "e643c78e.1fe608",
        "type": "file",
        "z": "6d737813fc1388fc",
        "name": "Address.txt",
        "filename": "./public/users/opc-ua/Address.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 830,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "75ff66ac.f39498",
        "type": "comment",
        "z": "6d737813fc1388fc",
        "name": "PROSYS OPC-UA",
        "info": "using the PROSYS OPC-UA Simulation Server",
        "x": 110,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd7bd63d.2f3178",
        "type": "OpcUa-Item",
        "z": "6d737813fc1388fc",
        "item": "ns=5;s=Random1",
        "datatype": "Integer",
        "value": "",
        "name": "Random1",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "a6eb9ec.c21db6"
            ]
        ]
    },
    {
        "id": "2dd2dd3c.5d9b72",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Read",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "fd7bd63d.2f3178"
            ]
        ]
    },
    {
        "id": "8b2daf0a.2ac5b",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "Read value Payload",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 860,
        "y": 340,
        "wires": []
    },
    {
        "id": "7b069e3f.171f5",
        "type": "OpcUa-Item",
        "z": "6d737813fc1388fc",
        "item": "ns=4;s=DateTime",
        "datatype": "String",
        "value": "",
        "name": "DateTime",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "a6eb9ec.c21db6",
                "b289b3e3.c303"
            ]
        ]
    },
    {
        "id": "a6eb9ec.c21db6",
        "type": "OpcUa-Client",
        "z": "6d737813fc1388fc",
        "endpoint": "1e85091f3a431c41",
        "action": "read",
        "deadbandvalue": "",
        "time": "",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "Test server (read items)",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "8b2daf0a.2ac5b",
                "ef2f258a.509a58"
            ]
        ]
    },
    {
        "id": "c4e6019e.66af7",
        "type": "OpcUa-Item",
        "z": "6d737813fc1388fc",
        "item": "i=2258",
        "datatype": "String",
        "value": "",
        "name": "Server CurrentTime",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "b289b3e3.c303"
            ]
        ]
    },
    {
        "id": "4ec38626.22afb8",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Subscribe ( Interval 1 sec.)",
        "props": [
            {
                "p": "payload",
                "v": "1000",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "c4e6019e.66af7",
                "c2e67110.f1efa"
            ]
        ]
    },
    {
        "id": "de7b113d.00879",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Browse",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "ns=2;s=MyDevice",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "ns=2;s=MyDevice",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "fb399d4f.61dc4",
                "19dfffe3.6c26c"
            ]
        ]
    },
    {
        "id": "7cb5d30d.2e00ec",
        "type": "file",
        "z": "6d737813fc1388fc",
        "name": "Address.txt",
        "filename": "./public/users/opc-ua/Address.txt",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 830,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "28d77e5.8101482",
        "type": "function",
        "z": "6d737813fc1388fc",
        "name": "Items",
        "func": "msg.payload=msg.browseName+\"|\"+msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "7cb5d30d.2e00ec",
                "b10ffb29.47ab88"
            ]
        ]
    },
    {
        "id": "fb399d4f.61dc4",
        "type": "trigger",
        "z": "6d737813fc1388fc",
        "name": "Clear file",
        "op1": "object|address",
        "op2": "0",
        "op1type": "val",
        "op2type": "",
        "duration": "0",
        "extend": "false",
        "units": "ms",
        "outputs": 1,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "e643c78e.1fe608"
            ]
        ]
    },
    {
        "id": "19dfffe3.6c26c",
        "type": "OpcUa-Client",
        "z": "6d737813fc1388fc",
        "endpoint": "1e85091f3a431c41",
        "action": "browse",
        "deadbandvalue": "",
        "time": "",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "Test server (browse)",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "28d77e5.8101482",
                "bd51e6e9.102cf8"
            ]
        ]
    },
    {
        "id": "ca827ee0.3633a",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "Subscribed values",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "b10ffb29.47ab88",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "Address items",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "77256a3c.71f1d4",
        "type": "comment",
        "z": "6d737813fc1388fc",
        "name": "v9.1.0",
        "info": "Browse node allows user to select item:\n- runtime browse\n- select RootFolder -> SubFolder\n- select Item\n\nActions:\nread\nwrite\nbrowse\nsubscribe\n\nNodes:\nclient node for actions\nitem node for defining item\n",
        "x": 70,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ec2bede.18aba2",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Browse Alarm",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "v": "ns=2;s=MyLevel.Alarm",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "ns=2;s=MyLevel.Alarm",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "60103cf1.60b664"
            ]
        ]
    },
    {
        "id": "bd51e6e9.102cf8",
        "type": "template",
        "z": "6d737813fc1388fc",
        "name": "OpcUa-Item",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "mustache",
        "template": "[\n  {\n    \"id\": \"4b12ca9b.e7e184\",\n    \"type\": \"OpcUa-Item\",\n    \"item\": \"{{topic}}\",\n    \"datatype\": \"opcua.DataType.Double\",\n    \"value\": \"66.6\",\n    \"name\": \"{{browseName}}\",\n    \"x\": 251,\n    \"y\": 334,\n    \"z\": \"30ffd2ee.59fdd6\",\n    \"wires\": [\n      [\n        \"70dd1397.3c8e44\"\n      ]\n    ]\n  }\n]",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "251746cc.116c3a",
                "d7e87799.e5bba8"
            ]
        ]
    },
    {
        "id": "251746cc.116c3a",
        "type": "function",
        "z": "6d737813fc1388fc",
        "name": "Save to lib",
        "func": "msg.filename=\"./public/users/opc-ua/templates/\"+msg.browseName+\".js\";\nmsg.payload=\"// name: \"+msg.browseName+\"\\n\"+\"// field: payload\\n\"+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "d5eda8e6.d58238",
                "3826e0f3.91b6d"
            ]
        ]
    },
    {
        "id": "d5eda8e6.d58238",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "Pre-configured library items",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "3826e0f3.91b6d",
        "type": "file",
        "z": "6d737813fc1388fc",
        "name": "OPC UA Items",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d7e87799.e5bba8",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "1caef89f.2ed4e7",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Read",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 340,
        "wires": [
            [
                "27c2bd79.578a32"
            ]
        ]
    },
    {
        "id": "27c2bd79.578a32",
        "type": "OpcUa-Item",
        "z": "6d737813fc1388fc",
        "item": "ns=5;s=Counter1",
        "datatype": "Double",
        "value": "",
        "name": "Counter1",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "a6eb9ec.c21db6"
            ]
        ]
    },
    {
        "id": "60103cf1.60b664",
        "type": "OpcUa-Client",
        "z": "6d737813fc1388fc",
        "endpoint": "1e85091f3a431c41",
        "action": "browse",
        "deadbandvalue": "",
        "time": "10000",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "7ceef407.eafb3c",
                "926dc4c4.041508"
            ]
        ]
    },
    {
        "id": "7ceef407.eafb3c",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "Browsed JSON",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "926dc4c4.041508",
        "type": "function",
        "z": "6d737813fc1388fc",
        "name": "Read Info",
        "func": "msg.payload=msg.browseName+\" - \"+msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 560,
        "wires": [
            [
                "1af9b387.3278dc"
            ]
        ]
    },
    {
        "id": "1af9b387.3278dc",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "browseName",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 830,
        "y": 560,
        "wires": []
    },
    {
        "id": "b289b3e3.c303",
        "type": "OpcUa-Client",
        "z": "6d737813fc1388fc",
        "endpoint": "1e85091f3a431c41",
        "action": "subscribe",
        "deadbandvalue": "",
        "time": "4",
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "ca827ee0.3633a",
                "ef2f258a.509a58"
            ]
        ]
    },
    {
        "id": "f6f54112.c9ed4",
        "type": "catch",
        "z": "6d737813fc1388fc",
        "name": "",
        "scope": null,
        "x": 120,
        "y": 700,
        "wires": [
            [
                "3b51ffbd.c887f"
            ]
        ]
    },
    {
        "id": "3b51ffbd.c887f",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 330,
        "y": 700,
        "wires": []
    },
    {
        "id": "6868efd9.25a6c",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Read & Subscribe",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "7b069e3f.171f5"
            ]
        ]
    },
    {
        "id": "e7585aa3.d5d658",
        "type": "OpcUa-Event",
        "z": "6d737813fc1388fc",
        "root": "ns=2;s=MyLevel.Alarm",
        "eventtype": "i=2041",
        "name": "All events from server",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "6b885842.c7dfb8"
            ]
        ]
    },
    {
        "id": "983dcde4.57503",
        "type": "inject",
        "z": "6d737813fc1388fc",
        "name": "Subscribe Events (250ms)",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "e7585aa3.d5d658"
            ]
        ]
    },
    {
        "id": "ff34939.6bc5c7",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "6b885842.c7dfb8",
        "type": "OpcUa-Client",
        "z": "6d737813fc1388fc",
        "endpoint": "1e85091f3a431c41",
        "action": "events",
        "deadbandvalue": "",
        "time": "10",
        "timeUnit": "s",
        "certificate": "l",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "Alarms & Events",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "ff34939.6bc5c7",
                "dc6df03d.b2e26"
            ]
        ]
    },
    {
        "id": "dc6df03d.b2e26",
        "type": "function",
        "z": "6d737813fc1388fc",
        "name": "Format",
        "func": "var newmsg={};\nnewmsg.topic=\"\";\nnewmsg.payload=\"\";\n\nif (msg.EventId) {\n    //newmsg.payload=\"EVENTID\";\n\t//newmsg.payload=msg.EventId.toString('utf8');;\n}\nif (msg.EventType) {\n    //newmsg.topic=newmsg.topic+\"EventType\";\n    //newmsg.payload=\"EVENTTYPE\";\n\t//newmsg.payload=newmsg.payload+\"|\"+msg.EventType;\n}\nif (msg.SourceNode) {\n    //newmsg.topic=newmsg.topic+\"SourceNode\";\n\t//newmsg.payload=msg.payload+\"|\"+msg.SourceNode;\n}\nif (msg.SourceName) {\n    // Do not show internal alarm state changes e.q. rising events\n    //if (msg.SourceName==\"Internal\") return; \n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SourceName;\n}\nif (msg.Time) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Time\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Time;\n}\nif (msg.ReceiveTime) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ReceiveTime\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ReceiveTime;\n}\nif (msg.Message) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Message\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Message;\n}\nif (msg.Severity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Severity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Severity;\n}\n\n// ConditionType\nif (msg.ConditionClassId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassId;\n}\nif (msg.ConditionClassName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassNameName;\n}\nif (msg.ConditionName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionName;\n}\nif (msg.BranchId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"BranchId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.BranchId;\n}\nif (msg.Retain) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Retain\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Retain;\n}\nif (msg.EnabledState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"EnabledState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.EnabledState;\n}\nif (msg.Quality) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Quality\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Quality;\n}\nif (msg.LastSeverity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LastSeverity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LastSeverity;\n}\nif (msg.Comment) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Comment\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Comment;\n}\nif (msg.ClientUserId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ClientUserId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ClientUserId;\n}\n\n// AcknowledgeConditionType\nif (msg.AckedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"AckedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.AckedState;\n}\nif (msg.ConfirmedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConfirmedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConfirmedState;\n}\n\n// AlarmConditionType\nif (msg.ActiveState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ActiveState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ActiveState;\n}\nif (msg.InputNode) {\n    newmsg.topic=newmsg.topic+\"|\"+\"InputNode\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.InputNode;\n}\nif (msg.SupressedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"SupressedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SupressedState;\n}\n\n// Limits\nif (msg.HighHighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighHighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighHighLimit;\n}\nif (msg.HighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighLimit;\n}\nif (msg.LowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLimit;\n}\nif (msg.LowLowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLowLimit;\n}\nif (msg.Value) {\n        newmsg.topic=newmsg.topic+\"|\"+\"Value\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Value;\n}\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "ff34939.6bc5c7"
            ]
        ]
    },
    {
        "id": "ef2f258a.509a58",
        "type": "debug",
        "z": "6d737813fc1388fc",
        "name": "Complete Message",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "c2e67110.f1efa",
        "type": "OpcUa-Item",
        "z": "6d737813fc1388fc",
        "item": "ns=2;s=MyLevel",
        "datatype": "Double",
        "value": "",
        "name": "MyDevice - MyLevel",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "b289b3e3.c303"
            ]
        ]
    }
]